*{
    box-sizing: border-box;
}

input {
    margin : 0;
    border : none;
    border-radius: 0;
    width: 75%;
    padding: 10px ;
    float: left;
    font-size: 16px;
}

button {
    margin : 0;
    border : none;
    border-radius: 0;
    width: 15%;
    padding: 10px ;
    float: left;
    font-size: 16px;
}

.header {
    background-color: #f44336;
    padding: 50px;
    color: white;
    text-align: center;
}
