*{
    box-sizing: border-box;
}
/* Style the input */
input {
    margin : 0;
    border : none;
    border-radius: 0;
    width: 75%;
    padding: 10px ;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.AddTask {
    margin : 0;
    border : none;
    border-radius: 0;
    width: 15%;
    padding: 10px ;
    float: left;
    font-size: 16px;
}

.addTask:hover {
    background-color: #bbb;
  }

.header {
    background-color: #f44336;
    padding: 50px;
    color: white;
    text-align: center;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
  }
/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}


  /* Style checked item*/
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

/* Style the close button */
.close {
    background: #eee;
    position: absolute;
    top: 0;
    right: 0;
    width: 3%;
    height: 100%;
    border: none;
    font-size: large;
  }

.close:hover {
    background-color: #f44336;
    color: white;
  }
